
#header-nav-container ul {
    margin-top: 20px;    
    display: flex; 
    list-style-type: none;   
    flex-wrap: wrap;
}

#header-nav-container ul #nav-1 {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#header-nav-container ul #nav-2 {
    display: flex;
    align-items: center;
}

#header-nav-container ul #nav-3 {
    margin-right: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-nav-container ul #nav-4 {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-nav-container ul #nav-5 {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#header-nav-container ul #nav-6 {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 20px;
}

.nav-item{
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif; 
    font-size: 13px;
    height: 15px;
    opacity: 0.75;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-align: center;
    margin: auto 0 auto 0;
}


#logo-container { 
    display: flex;
    flex-direction: column; 
}

#google-logo{
    display: flex;
    justify-content: center;
    
}


#share-btn{
    display: flex;
    justify-content: flex-end;
}

#share-btn a{
    flex-basis: 35%;
}

#share-btn-img{
    max-width: 30px;
    max-height: 30px;
}



#google-product-btn {
    height: auto; 
    width: auto;
    max-width: 35px; 
    max-height: 35px;
    margin-top: 5px;
    
}

#leaf{
    height: auto; 
    width: auto;
    max-width: 12px; 
    max-height: 14px;
    margin: auto 5px auto 5px;
}
#sign-in-btn {
background-clip: border-box;
background-color: rgb(70, 131, 234);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(66, 133, 244);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(66, 133, 244);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(66, 133, 244);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(66, 133, 244);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(255, 255, 255);
cursor: default;
display: inline-block;
filter: none;
font-family: arial, sans-serif;
font-size: 13px;
font-weight: 700;
height: auto;
line-height: 28px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 12px;
padding-right: 12px;
padding-top: 0px;
text-align: left;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
user-select: none;
white-space: nowrap;

}

main {
    margin-top: 5%;
}


#search-bar-container {
    margin-top: 1%; 
    display: flex;
    justify-content: center;
    
}


#search-box {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(223, 225, 229);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: rgb(32, 33, 36);
    display: flex;
    justify-content: flex-start;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 40%;
}

#microscope-img{
    margin: auto 10px;
    max-width: 25px; 
    max-height: 20px;  
}
#search-bar{
    margin-left: 10px;
    border: 0px;
    outline: none;
    flex: 0 1 auto;
    min-width: 0;
    margin-right: 20px;
}

#search-btn-container{
    display: flex;
    justify-content: center;

}



#search-btn{
color: rgb(0, 0, 0);
appearance: none;
background-color: rgb(248, 249, 250);
border-bottom-color: rgb(248, 249, 250);
border-bottom-left-radius: 4px;
border-bottom-right-radius 4px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(248, 249, 250);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(248, 249, 250);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(248, 249, 250);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(60, 64, 67);
cursor: pointer;
display: inline-block;
font-family: arial, sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 36px;
letter-spacing: normal;
line-height: 27px;
margin-bottom: 11px;
margin-left: 4px;
margin-right: 4px;
margin-top: 11px;
min-width: 54px;
padding-bottom: 0px;
padding-left: 16px;
padding-right: 16px;
padding-top: 0px;
text-align: center;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
user-select: none;
white-space: pre;
flex-basis: 30%;
word-spacing: 0px;
writing-mode: horizontal-tb;
}

#footer-nav-box{
    background-clip: border-box;
    background-color: rgb(242, 242, 242);
    border-top-color: rgb(218, 220, 224);
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0px;
    color: rgb(32, 33, 36);
    display: block;
    font-family: arial, sans-serif;
    font-size: 13.3333px;
    left: 0px;
    line-height: 40px;
    min-width: 400px;
    position: absolute;
    right: 0px;
    top: auto;
    }


#footer-nav-container{   
    display: flex; 
    list-style-type: none;
    flex-wrap: wrap;
    margin: auto; 
}

#footer-nav-container > li
{
    flex-basis: 8%;
    display: flex;
}


  #carbon-neutral {
    flex: 1;
    display: flex; 
    justify-content: center;
}

.nav-item-btm{
    color: rgb(112, 117, 122);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration-color: rgb(112, 117, 122);
    text-decoration-line: none;
    text-decoration-style: solid;
    white-space: nowrap;
}

@media (max-width: 800px) {
    #carbon-neutral {
        order: 1;
        flex-basis: 100%;
        justify-content: flex-start;
    }

    #footer-nav-container > li
{
    flex-basis: 50%;
    display: flex;
}
}

