#container {
    position: relative;
    min-height: 100vh;
}

#header-nav-container, #footer-nav-container{
    display: flex;
    width: 100%;       
}
#header-nav-left {
    width: 50%; 
}

#header-nav-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#footer-nav-left {
    width: 30%; 
    display: flex;
    align-items: center;
    
}

#footer-nav-center {
    width: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer-nav-right {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 30%;

}


.nav-list ul{
    display: flex;
    list-style-type: none;
}
li, #carbon-neutral{
    margin-left: 0.5em;
    margin-right: 0.5em;
}


li a, #carbon-neutral {
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif; 
    font-size: 13px;
    height: 15px;
    opacity: 0.75;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
}

#google-product-btn , #leaf{
    height: auto; 
    width: auto;
    max-width: 35px; 
    max-height: 35px;
    
}

#sign-in-btn {
    background-clip: border-box;
background-color: rgb(70, 131, 234);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(66, 133, 244);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(66, 133, 244);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(66, 133, 244);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(66, 133, 244);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(255, 255, 255);
cursor: default;
display: inline-block;
filter: none;
font-family: arial, sans-serif;
font-size: 13px;
font-weight: 700;
height: auto;
line-height: 28px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 12px;
padding-right: 12px;
padding-top: 0px;
text-align: left;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
user-select: none;
white-space: nowrap;

}


main {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#logo-container { 
    display: flex;
    width: 100%;
    flex-direction: column; 
}

#search-bar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

#google-logo{
    align-self: center;
}

#share-btn-container {
    height: 50px;
    position: relative;
}
#share-btn{
    position: absolute;
    right: 35%;
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px; 

}

#search-box {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(223, 225, 229);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: rgb(32, 33, 36);
    display: flex;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 381px;
}

#search-bar{
    align-self: center;
}

#search {
    align-self: center;
    margin-left: 10px;
}
input{
    outline-width: 0 !important;
}

#microscope {
    justify-self: flex-start;
    align-self: center;
    height: auto; 
    width: auto; 
    max-width: 20px; 
    max-height: 20px;   
}

#search-bar{
    border: 0px;
    width: 340px;
    align-self: center;    
}

@media screen and (min-width: 400px) {
    footer {
      height: 100px;
    }
  }
  
  @media screen and (min-width: 800px) {
    footer {
      height: 50px;
    }
  }

footer{
background-clip: border-box;
background-color: rgb(242, 242, 242);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-top-color: rgb(218, 220, 224);
border-top-style: solid;
border-top-width: 1px;
bottom: 0px;
color: rgb(32, 33, 36);
display: block;
font-family: arial, sans-serif;
font-size: 13.3333px;
left: 0px;
line-height: 40px;
min-width: 400px;
position: absolute;
right: 0px;
}


